@use './partials/global' as *;
@use './partials/variables' as *;

.hero {
    background: 
    linear-gradient(
        rgba(50, 50, 50, 0.5),
        rgba(50, 50, 50, 0.5)
    ),
    url(../assets/images/hero-bio.jpg);
    background-color: rgba(50, 50, 50, .5);
    background-size: cover;
    background-position: center;
    height: 60vw;
    object-fit: cover;
    @media (min-width:$tablet-width) {
        height: 70vh;
        background-position-y: 100%;
    }
    @media (min-width:$desktop-width) {
        background-position-y: 25%;
    }

    &__wrapper {
        height: 60vw;
        display: flex;
        align-items: center;
        margin: 0 2rem;
        @media (min-width:$tablet-width) {
            height: 70vh;
            margin: 0 4.5rem;
        }
        @media (min-width:$desktop-width) {
            @include desktop;
        }
    }

    &__heading {
        color: $color-White;
        @include font-header;
        font-family: "Avenir Next Demi";
        @media (min-width:$tablet-width) {
            font-size: 60px;
            line-height: 68px;
        }
    }
}

.description {
    &__wrapper {
        @include display-column;
        margin: 0 2rem;
        padding-top: 2rem;
        gap: 2rem;
        @media (min-width:$tablet-width) {
            padding: 4.5rem 0;
            margin: 0 4.5rem;
            gap: 4.5rem;
        }
        @media (min-width:$desktop-width) {
            @include desktop;
        }
    }
    &__heading {
        @include font-header;
        font-family: "Avenir Next Demi";
        padding-top: 1rem;
        @media (min-width:$tablet-width) {
            @include font-section;
            padding-top: 1.5rem;
        }
    }
    &__container {
        @include display-column;
        gap: 2rem;
        @media (min-width:$tablet-width) {
            padding: 0 4.5rem;
            gap: 4.5rem;
        }
    } 
    &__paragraph {
        padding-bottom: 2rem;
        @media (min-width:$tablet-width) {
            padding: 0;
        }
    }   
    &__image {
        aspect-ratio: 16/9;
        width: 100%;
        object-fit: cover;
    }
    &__quote {
        @include font-subheader;
        font-family: "Avenir Next Demi";
        .quote{
            @include font-subheader;
            font-family: "Avenir Next Demi";
        }
        @media (min-width:$tablet-width) {
            @include font-header;
            .quote {
                font-size: 18px;
                line-height: 22px;
            }
        }
        @media (min-width:$desktop-width) {
            width: 75%;
        }
    }

    &__subheading {
        @include font-subheader;
        padding-top: 1rem;
        @media (min-width:$tablet-width) {
            padding-top: 1.5rem;
            @include font-header;
        } 
    }

    @media (min-width:$tablet-width) {
       .paragraph__container {
            display: flex;
            gap: 6rem;
        }
    } 

    &__paragraph {
        @include font-body;
        @media (min-width:$tablet-width) {
            @include font-subheader;
        } 
    }     
}

.gallery {
    background-color: $color-Alabaster;

    &__wrapper {
        @include display-column;
        flex-wrap: wrap;
        margin: 0 2rem;
        @media (min-width:$tablet-width) {
            margin: 0 4.5rem;
        }
        @media (min-width:$desktop-width) {
            @include desktop;
        }
    }

    &__heading {
        @include font-header;
        font-family: "Avenir Next Demi";
        padding-top: 3rem;
        @media (min-width:$tablet-width) {
            padding-top: 6rem;
            @include font-section;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem 0;
        @media (min-width:$tablet-width) {
            padding: 4.5rem 0;
            gap: 3rem;
            justify-content: space-between;
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;
        filter: grayscale(100%); 
        &:hover {
            filter: grayscale(0);
        }
        @media (min-width:$tablet-width) {
            width: 31%;
        }
    }
}

.comments {
    &__wrapper {
        margin: 0 2rem;
        @media (min-width:$tablet-width) {
            margin: 0 4.5rem;
        }
        @media (min-width:$desktop-width) {
            @include desktop;
        }
    }

    &__heading {
        @include font-header;
        font-family: "Avenir Next Demi";
        padding: 2rem 0;
        @media (min-width:$tablet-width) {
            padding-top: 6rem;
            @include font-section;
        }
    }

    &__container {
        display: flex;
        gap: 2rem;
        border-bottom: 1px solid $color-Mercury;
        @media (min-width:$tablet-width) {
            margin: 2rem 6rem;
        }
        @media (min-width:$desktop-width) {
            margin: 2rem auto 0 auto;
            width: 500px;
        }
    }

    &__user {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        @media (min-width:$tablet-width) {
            min-width: 6rem;
            height: 6rem;
        } 
    }

    &__card {
        width: 100%;
        @include display-column;
        &__label {
            font-size: 10px;
            line-height: 20px;
            font-family: "Avenir Next Demi";  
            color: $color-Silver;
            padding-bottom: 0.5rem;
        }
        &__field {
            padding: 1rem;
            margin-bottom: 2rem;
            resize: none;
            @include font-body;
            background-color: $color-Alabaster;
            border: 1px solid $color-Mercury;
            border-radius: 4px;
            @media (min-width:$tablet-width) {
                @include font-subheader;    
            }
            &--comment {
                height: 8rem;
                @media (min-width:$tablet-width) {
                    @include font-subheader;  
                    height: 10rem;  
                }
            }
        }
    }

    &__button {
        margin-bottom: 2rem;
        @include font-body;
        font-family: "Avenir Next Demi";
        padding: 1rem 0;
        text-align: center;
        border-radius: 4px;
        background-color: $color-Black;
        color: $color-White;
        border: none;
        @media (min-width:$tablet-width) {
            width: fit-content;
            margin-left: auto;
            padding: 1.5rem 4.5rem;
            font-size: 16px;
        }
    }

    &-history__container {
        @include display-column;
        margin-bottom: 2rem;
        @media (min-width:$tablet-width) {
            margin: 0 6rem 4.5rem 6rem;
        }
        @media (min-width:$desktop-width) {
            margin: 0 auto 4.5rem auto;
            width: 500px;
        }
    }

    &__list {
        display: flex;
        border-bottom: 1px solid $color-Mercury;
        padding: 1rem 0;
        @media (min-width:$desktop-width) {
            padding: 2.5rem 0;
        }
        &__img {
            border-radius: 50%;
            min-width: 4rem;
            height: 4rem; 
            background-color: $color-Mercury; 
            @media (min-width:$tablet-width) {
                min-width: 6rem;
                height: 6rem;
            } 
        }
        &__content {
            display: flex;
            flex-wrap: wrap;
            margin-left: 2rem;
            gap: 1rem;
            justify-content: space-between;
            width: 100%;
            &__name {
                @include font-subheader;
                font-family: "Avenir Next Demi";
                width: 50%;
                @media (min-width:$tablet-width) {
                    font-size: 16px;   
                }
            }
            &__date {
                @include font-body;
                color: $color-Silver;
                @media (min-width:$tablet-width) {
                    @include font-subheader;    
                }
            }
            &__comment {
                @include font-body;
                width: 100%;
                word-break: break-word;
                @media (min-width:$tablet-width) {
                    @include font-subheader;    
                }
            }
        }
    }
}

