@use './partials/global' as *;
@use './partials/variables' as *;
.navigation {
    background-color: $primary-color-BandSite-Black;
    &__logo {
        display: flex;
        margin: auto;
        padding: 1rem 0;
        max-height: 20px;
        max-width: 120px;
    }
    &__menu {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding-bottom: 1rem;
        &__item {
            color: $secondary-color-Mercury;
            text-decoration: none;
            padding: 0 3rem;
            &--active {
                border-bottom: 5px solid white;
                padding-bottom: 0.6rem;
                font-weight: 600;
            }
            &:hover {
                color: $primary-color-BandSite-White;
                border-bottom: 5px solid white;
                padding-bottom: 0.6rem;
            }
        }
    }
}
.hero {
    &__heading {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        background: 
        linear-gradient(
            rgba(50, 50, 50, 0.5),
            rgba(50, 50, 50, 0.5)
        ),
        url(../assets/images/hero-bio.jpg);
        background-color: rgb(50, 50, 50, .5);
        background-size: cover;
        background-position: center;
        height: 30vh;
        color: $primary-color-BandSite-White;
        font-weight: 600;
    }
}
.description {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    &__heading {
        font-weight: 600;
        padding-top: 0.5rem;
    }
    &__image {
        display: flex;
        height: 30vh;
    }
    &__quote {
        font-weight: 600;
    }
    &__subheading {
        font-weight: 400;
    }
}
.gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: $secondary-color-Alabaster;
    &__heading {
        font-weight: 600;
    }
    &__image {
        height: 30vh;
    }
}