@use './partials/global' as *;
@use './partials/variables' as *;

@media (min-width:$tablet-width) {
    * {
        font-size: 14px;
        line-height: 20px;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: $primary-color-BandSite-Black;
    @media (min-width:$tablet-width) {
        flex-direction: row;
        align-items: center;
    }
    &__logo {
        display: flex;
        margin: auto;
        padding: 1.5rem 0;
        max-height: 20px;
        max-width: 120px;
        @media (min-width:$tablet-width) {
            padding: 2.5rem;
        }
        @media (min-width:$desktop-width) {
            padding-left: 8rem;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding-bottom: 1rem;
        @media (min-width:$tablet-width) {
            padding: 0;
            gap: 3rem;
        }
        &__item {
            color: $secondary-color-Mercury;
            text-decoration: none;
            padding: 0 4.05rem;
            font-size: 14px;
            line-height: 22px;
        @media (min-width:$tablet-width) {
            padding: 0;
            margin-left: 2rem;
        }
            &--active {
                border-bottom: 4px solid white;
                padding-bottom: 0.81rem;
                font-weight: 600;
            }
            &:hover {
                color: $primary-color-BandSite-White;
                border-bottom: 4px solid white;
                padding-bottom: 0.81rem;
            }
        @media (min-width:$tablet-width) {
            &--active {
                border-bottom: 4px solid white;
                padding-bottom: 2.2rem;
            }
            &:hover {
                border-bottom: 4px solid white;
                padding-bottom: 2.2rem;
            }
        }    
        }
    }
}

.hero {
    &__heading {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        background: 
        linear-gradient(
            rgba(50, 50, 50, 0.5),
            rgba(50, 50, 50, 0.5)
        ),
        url(../assets/images/hero-bio.jpg);
        background-color: rgb(50, 50, 50, .5);
        background-size: cover;
        background-position: center;
        height: 60vw;
        object-fit: cover;
        color: $primary-color-BandSite-White;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        @media (min-width:$tablet-width) {
            font-size: 60px;
            line-height: 68px;
            padding-left: 2.5rem;
            height: 70vh;
            background-position-y: 100%;
        }
        @media (min-width:$desktop-width) {
            padding-left: 8rem;
            height: 70vh;
            background-position-y: 25%;
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    @media (min-width:$tablet-width) {
        padding: 2.5rem;
        gap: 1.5rem;
    }
    @media (min-width:$desktop-width) {
        padding-left: 8rem;
    }
    &__heading {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        padding-top: 0.5rem;
        @media (min-width:$tablet-width) {
            font-size: 36px;
            line-height: 44px;
            padding-top: 1rem;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @media (min-width:$tablet-width) {
            padding: 0 4rem;
        }
        @media (min-width:$desktop-width) {
            padding: 0 8rem;
        }
    } 
    &__paragraph {
        padding-bottom: 1rem;
    }   
    &__image {
        height: 50vw;
        width: 100%;
        object-fit: cover;
        @media (min-width:$tablet-width) {
            height: 40vw;
        }
    }
    &__quote {
        line-height: 2rem;
        font-weight: 600;
        @media (min-width:$tablet-width) {
            padding: 1.5rem 0;
            font-size: 23px;
            line-height: 32px;
            .quote {
                font-size: 16px;
            }
        }
        @media (min-width:$desktop-width) {
            width: 75%;
        }
    }
    &__subheading {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        @media (min-width:$tablet-width) {
            padding: 2rem 0 1rem 0;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
        } 
    }
    @media (min-width:$tablet-width) {
       .paragraph__container {
            display: flex;
            gap: 2rem;
        }
    } 
    @media (min-width:$tablet-width) {
        &__paragraph {
            line-height: 22px;
        }
    }       
}

.gallery {
    background-color: $secondary-color-Alabaster;
    &__heading {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        padding: 1.5rem 0 0 1rem;
        @media (min-width:$tablet-width) {
            padding: 3rem 0 0 2.5rem;
            font-size: 36px;
            line-height: 44px;
        }
        @media (min-width:$desktop-width) {
            padding-left: 8rem;
        }
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
        @media (min-width:$tablet-width) {
            padding: 1rem 2.5rem 2.5rem 2.5rem;
            gap: 1.5rem;
            justify-content: space-between;
        }
        @media (min-width:$desktop-width) {
            padding: 2rem 8rem;
        }
    }
    &__image {
        width: 100%;
        object-fit: cover;
        @media (min-width:$tablet-width) {
            width: 28vw;
        }
        @media (min-width:$desktop-width) {
            width: 26vw;
        }
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
    gap: 1rem;
    position: relative;
    background-color: $primary-color-BandSite-Black;
    color: $primary-color-BandSite-White;
    @media (min-width:$tablet-width) {
        flex-direction: row;
        padding: 2.5rem;
        gap: 2rem;
    }
    @media (min-width:$desktop-width) {
        padding-left: 8rem;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .social__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @media (min-width:$tablet-width) {
            flex-direction: row;
            align-items: baseline;
            gap: 2rem;
        }
        @media (min-width:$desktop-width) {
            gap: 4rem;
        }
    }
    &__heading {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        @media (min-width:$tablet-width) {
            font-size: 36px;
            line-height: 44px;
        }
    }
    &__social {
        display: flex;
        flex-direction: row; 
        gap: 2rem;
    }
    @media (min-width:$tablet-width) {
        &__container {
            display: flex;
            gap: 4rem;
        }
    }
    @media (min-width:$desktop-width) {
        &__container {
            gap: 5rem;
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 1rem;
        &__heading {
            font-weight: 600;
        }
    }
    &__logo {
        margin-top: 2rem;
        max-height: 20px;
        max-width: 120px;
        @media (min-width:$tablet-width) {
            position: absolute;
            top: 1.5rem;
            right: 2.5rem;
        }
        @media (min-width:$desktop-width) {
            right: 8rem;
        }
    }
    &__copy {
        font-size: 10px;
        font-weight: 400;
        line-height: 20px;
        @media (min-width:$tablet-width) {
            font-size: 12px;
        }
    }
}
  